.app{

}

.logo{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.header-right-box{
    color: #fff;
    float: right;

    .user-name{
        margin-right: 30px;
    }
}